img{
  height: 200px;
  width: 200px;
}
body{
  background-color: #EAF6F6;
}
hr{
  border-color:grey;
  border-width:5px;
  border-style:none;
  border-top-style:dotted;
  width:5%;
}
h1{
  color: #66BFBF;
}
h2{
  color: blue;
}
frameset{
  height: 250px;
  width: 10px;
}
